<ul>
  <li>
    Name: <%= classroom_student.name %>
  </li>
  <li>
    Birthday: <%= classroom_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= classroom_student.hometown.capitalize %>
  </li>
</ul>
